body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a4a4a; /* Updated background color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #FF9800; /* Updated color for the heading */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="url"] {
    border: 1px solid #FF9800; /* Updated border color */
    padding: 12px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #FF9800; /* Updated background color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

.shortened-url {
    text-align: center;
    font-size: 18px;
    word-wrap: break-word;
    background-color: #FF9800; /* Updated background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #ffffff; /* Added text color */
}
